body {
  background-image: url(https://doc-0c-9k-docs.googleusercontent.com/docs/securesc/u2lhv4t6i757tag09dofbs2ci631brsj/q8lmau45sofgk8cqmb03mhfenikqlq3t/1627723275000/10924198060932507646/00693053492180788405/1lH1VfcAIQYTwO11JJNFpaes7Js8AHfkj?e=download&authuser=1);
}
.container {
  position: relative;
  padding: 60px;
  border: solid 1px gainsboro;
  border-radius: 15px;
  max-width: 500px;
  margin-top: 50px;
}
h1 {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-weight: 500;
}

h4 {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
}
.updates {
  font-size: 14px;
  font-weight: 400;
}
.conditions {
  font-size: 14px;
  font-weight: 400;
}
.btn-group {
  display: block;
  margin: 15px auto;
  text-align: center;
}

.btn {
  font-size: 11px;
  background-color: rgb(122, 188, 253);
  box-shadow: 3px 3px 10px rgba(135, 135, 135, 0.4);
  color: white;
  border: none;
}
ul {
  list-style: none;
  text-align: left;
}

.link {
  font-size: smaller;
  font-family: "Ubuntu", sans-serif;
  color: aliceblue;
}

.weather-forecast {
  margin-top: 13px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}
.forecast-temperatures {
  font-size: 13px;
}

.forecast-temperature-min {
  opacity: 0.6;
}

.spotify {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 15px;
  width: 300px;
}
